@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body {  
    background: #422d5d;
    margin: 0;
}
h1,h2,h3,h4,a,p,li,ul,ol {
    color: #decff1;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}